
.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display';
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
    
}

.header-links {
    font-size: 18px;
    font-weight: 500;
    color: #e5e7eb;
}
.header-links ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 12px;
}

.hero-section {
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: #1f2937;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: 65vh;
    min-height: 65dvh;
    padding: 25px;
    padding-left: 200px;
    padding-right: 200px;
    width: fit-content;
    height: 250px;
}
.hero-one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1;
    gap: 15px;
}

.hero-heading {
    flex: 1;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-body {
    flex: 1;
    font-size: 18px;
    color: #e5e7eb;
}
.hero-sign-up {
    flex: 1;
    font-size: 18px;
    font-weight: 600;
    background-color: #3882f6;
    padding: 15px;
    width: 150px;
    border-radius: 8px;
}

.hero-two {
    flex: 1;
    justify-content: center;
    align-items: center;
}
.hero-image img {
    max-width: 100%;
    height: auto;
}

li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: white;
}
